[Unit]
Description=Web UI for the native Linux container technology LXD/LXC
After=network.target snap.lxd.daemon.unix.socket
Wants=snap.lxd.daemon.unix.socket

[Service]
Type=simple
PIDFile=/run/lxdui/lxdui.pid
ExecStart=/usr/local/bin/lxdui start
ExecStop=/usr/local/bin/lxdui stop

[Install]
WantedBy=multi-user.target
