{% extends "index.html" %}
{% block content %}
<div id="containers">
    <div class="col-lg-12 main-div">
        <legend class="legend"><span>Containers </span> <span class="glyphicon glyphicon-refresh spinning loader"></span>
                 <button class="btn btn-primary pull-right" href="#" id="refreshContainers" style="margin-right:5px;">
                   <span class="glyphicon glyphicon-refresh"> </span> Refresh List
                </button>

        </legend>
        <div>
            <div class="form-group">
                <button class="btn btn-default btn-start_container" id="buttonStart" disabled>
                    <span class="glyphicon glyphicon-play"> </span> Start
                </button>
                <button class="btn btn-default btn-stop_container" id="buttonStop" disabled>
                    <span class="glyphicon glyphicon-stop"> </span> Stop
                </button>
                <button class="btn btn-default btn-restart_container" id="buttonRestart" disabled>
                    <span class="glyphicon glyphicon-repeat"> </span> Restart
                </button>
                <button class="btn btn-default btn-delete_container" id="buttonDelete" disabled>
                    <span class="glyphicon glyphicon-remove-sign"> </span> Delete
                </button>
                <!--- right -->
                <a class="btn btn-success pull-right" id="buttonNewInstance">
                        <span class="glyphicon glyphicon-plus-sign"> </span>
                         New Instance
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered" id="tableContainers">
            <thead>
            <th><input id="selectAllContainers" type="checkbox" /></th>
            <th>Name</th>
            <th>Status</th>
            <th>IP Address</th>
            <th>Type</th>
            <th>OS image</th>
            <th>Created On</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for container in containers %}
            <tr id="{{container.name}}">
                <td></td>
                <td><a href="containers/{{container.name}}" href="#">{{container.name}}</a></td>
                <td>{{container.status}}</td>
                {% if container.network != None and container.network.get('eth0') != None %}
                    {% if container['network']['eth0']['addresses']|length != 0 %}
                        <td>{{container['network']['eth0']['addresses'][0]['address']}}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                {% else %}
                    <td>N/A</td>
                {% endif %}
                {% if container.ephemeral %}
                    <td>Ephemeral</td>
                {% else %}
                    <td>Persistent</td>
                {% endif %}
                <td>{{container.config['image.distribution']}} {{container.config['image.release']}} {{container.config['image.architecture']}}</td>
                <td>{{container.created_at}}</td>
                <td style="width:157px !important;">
                    <a><i id="cloneContainer" onClick="$.proxy(App.containers.showCloneContainer('{{container.name}}'));" title="Clone Container" class="glyphicon glyphicon-duplicate btn btn-sm btn-default"></i></a>
                    <a><i id="moveContainer" onClick="$.proxy(App.containers.showMoveContainer('{{container.name}}'));" title="Move Container" class="glyphicon glyphicon-share-alt btn btn-sm btn-default"></i></a>
                    <a><i id="snapshotContainer" onClick="$.proxy(App.containers.showSnapshotContainer('{{container.name}}'));" title="Snapshot" class="glyphicon glyphicon-camera btn btn-sm btn-default"></i></a>
                    <a><i id="exportContainer" onClick="$.proxy(App.containers.showExportContainer('{{container.name}}'));" title="Export Image from Container" class="glyphicon glyphicon-export btn btn-sm btn-default"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

<div id="createContainerForm" style="display:none;">
    <div class="col-lg-12 main-div">
        <legend class="legend"><span>Containers </span> <span class="glyphicon glyphicon-refresh spinning loader"></span></legend>
        <div>
            <div class="form-group">
                <button class="btn btn-defult" id="buttonBack">
                    <span class="glyphicon glyphicon-chevron-left"> </span> Back
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <form id="newContainerForm">
                <div class="form-group" id="multiContainerSection">

                <div class="panel panel-default multiContainerTemplate" style="display: block;" id="7bf9cfc0fb7d88790932edb7174f34e25314c2c4fa4eb6737a6454e06ddaabeb">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne"> <span id="description"></span>
                <span>
                    <label class="imageName"></label>
                    <label class="pull-right nodeCount"></label>
                </span>
            </a>
        </h4>
    </div>
    <div id="${i}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="${i}">
        <div class="panel-body">
            <div class="form-group">
              <label class="col-md-2 control-label" for="containerImage">Select image:</label>
              <div class="col-md-4">
                 <select class="form-control" id="containerImage" name="image">
                  {% for image in images %}
                     {% if image.properties.get('description') == None %}
                     <option value="{{image.fingerprint}}">{{image.aliases[0].name}}</option>
                     {% else %}
                    <option value="{{image.fingerprint}}">{{image.properties.description}}</option>
                     {% endif %}
                  {% endfor %}
              </select>
              </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-6 control-label">Container Name</label>
                <!--<label class="col-sm-2 control-label">Quantity</label>-->
                <label class="col-sm-2 form-check-label text-center">Persistent</label>
                <label class="col-sm-2 form-check-label text-center">Autostart</label>
                <div class="clearfix"></div>
                <div class="col-sm-6">
                    <input class="containerName form-control" value="cnt-" placeholder="container name prefix" name="containers[0][name]" required="" type="text">
                </div>
                <!--<div class="col-sm-2">-->
                    <!--<input class="cntNrs form-control" min="1" value="1" name="containers[0][count]" type="number">-->
                <!--</div>-->
                <div class="col-sm-2">
                     <input class="form-check-input containerStateful" style="width:100%;" name="containers[0][stateful]" checked="" value="true" type="checkbox">
                </div>
                <div class="col-sm-2">
                    <input class="form-check-input" name="containers[0][autostart]" style="width:100%;" checked="" value="true" type="checkbox">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">CPU allocation in %</label>
                <div class="col-sm-3">
                    <input class="form-control" id="cpu_percentage_0" min="5" max="100" value="100" step="5" type="range">
                </div>
                <div class="col-sm-2">
                    <input class="form-control" name="containers[0][cpu[percentage]]" min="5" max="100" value="100" step="5" type="number">
                </div>
                <div class="col-sm-2">
                    <label class="form-check-label">Hard Limit</label>
                    <input class="form-check-input" id="containerCPUHardLimit" name="containers[0][cpu[hardLimitation]]" value="true" type="checkbox">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Memory usage in MB:</label>
                <div class="col-sm-3">
                    <input class="form-control" id="memory_percentage_0" min="5" max="1993" value="100" step="5" type="range">
                </div>
                <div class="col-sm-2">
                    <input class="form-control" name="containers[0][memory[sizeInMB]]" min="32" max="1993" value="32" type="number">
                    <b>(max: 1993 MB)</b>
                </div>
                <div class="col-sm-2">
                    <label class="form-check-label">Hard Limit</label>
                    <input class="form-check-input" name="containers[0][memory[hardLimitation]]" value="true" type="checkbox">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-1 control-label">Profiles:</label>
                <div class="col-sm-4">
                    <div class="btn-group bootstrap-select show-tick"><button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="7bf9cfc0fb7d88790932edb7174f34e25314c2c4fa4eb6737a6454e06ddaabeb_profiles" title="Nothing selected"><span class="filter-option pull-left">Nothing selected</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox"><ul class="dropdown-menu inner" role="listbox" aria-expanded="false"><li data-original-index="0"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">default</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div><select multiple="" name="containers[0][profiles]" class="selectpicker" id="7bf9cfc0fb7d88790932edb7174f34e25314c2c4fa4eb6737a6454e06ddaabeb_profiles" tabindex="-98">

                            <option>default</option>

                    </select></div>
                </div>
            </div>
        </div>
        <input class="imageNameInput" name="containers[0][image]" value="7bf9cfc0fb7d88790932edb7174f34e25314c2c4fa4eb6737a6454e06ddaabeb" type="hidden">
    </div>
</div></div>
                <button type="submit" class="btn btn-primary">Create <span class="glyphicon glyphicon-refresh spinning loader" style="display: none;"></span></button>
            </form>

        <!-- end form normal from images -->
        <!--<form id="newContainerForm" class="form-horizontal">-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label" for="containerName">Name</label>-->
                 <!--<div class="col-md-3">-->
                        <!--<input type="text" class="form-control" id="containerName" aria-describedby="name"-->
                       <!--placeholder="Enter container name" name="name" required>-->
                 <!--</div>-->
            <!--</div>-->
             <!--<div class="form-group">-->
              <!--<label class="col-md-2 control-label" for="containerImage">Select image:</label>-->
              <!--<div class="col-md-3">-->
                 <!--<select class="form-control" id="containerImage" name="image">-->
                  <!--{% for image in images %}-->
                     <!--{% if image.properties.get('description') == None %}-->
                     <!--<option value="{{image.fingerprint}}">{{image.aliases[0].name}}</option>-->
                     <!--{% else %}-->
                    <!--<option value="{{image.fingerprint}}">{{image.properties.description}}</option>-->
                     <!--{% endif %}-->
                  <!--{% endfor %}-->
              <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="form-check-label col-md-2 control-label" for="containerStateful">Persistent</label>-->
                <!--<div class="col-md-3">-->
                    <!--<input type="checkbox" class="form-check-input" id="containerStateful" name="stateful" checked value="true">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="form-check-label col-md-2 control-label" for="containerAutostart">Autostart</label>-->
                <!--<div class="col-md-3">-->
                    <!--<input type="checkbox" class="form-check-input" id="containerAutostart" name="autostart" checked value="true">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label" for="containerCPUPercentage">CPU allocation (%):</label>-->
                <!--<div class="col-md-3">-->
                    <!--<input type="number" class="form-control" id="containerCPUPercentage" name="cpu[percentage]"-->
                       <!--min="5" max="100" value="100">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="form-check-label col-md-2 control-label" for="containerCPUHardLimit">Hard Limit</label>-->
                <!--<div class="col-md-3">-->
                    <!--<input type="checkbox" class="form-check-input" id="containerCPUHardLimit" name="cpu[hardLimitation]" value="true">-->
                <!--</div>-->
                <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label" for="containerMemoryPercentage">Memory allocation (MB):</label>-->
                <!--<div class="col-md-3">-->
                    <!--<input type="number" class="form-control" id="containerMemoryPercentage" name="memory[sizeInMB]"-->
                       <!--min="32" max="{{memory}}" value="32">-->
                     <!--(Max: {{memory}} MB)-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                 <!--<label class="form-check-label col-md-2 control-label" for="containerMemoryHardLimit">Hard Limit</label>-->
                <!--<div class="col-md-3">-->
                    <!--<input type="checkbox" class="form-check-input" id="containerMemoryHardLimit" name="memory[hardLimitation]" value="true">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-md-2 control-label" for="containerProfiles">Profiles:</label>-->
                <!--<div class="col-md-3">-->
                    <!--<select class="selectpicker" multiple id="containerProfiles" name="profiles">-->
                     <!--{% for profile in profiles %}-->
                        <!--<option>{{profile.name}}</option>-->
                     <!--{% endfor %}-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--<div class="form-group">-->
            <!--<div class="col-md-5">-->
                <!--<button type="submit" class="btn btn-primary pull-right">Submit <span class="glyphicon glyphicon-refresh spinning loader"></span></button>-->

            <!--</div>-->
        <!--</div>-->
        <!--</form>-->
    </div>
</div>

<div id="snapshotList" hidden>
    <h4 id="selectedSnapshotList">List of Snapshots - </h4>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">


<div id="cloneContainerForm" hidden>

    <form id="cloneForm" class="form-horizontal">
        <div class="form-group">
            <label for="newContainerClone" class="col-sm-3 control-label">Clone Name</label>
            <div class="col-sm-8">
                <input id="newContainerClone" name="newContainer" class="form-control" type="text" placeholder="Clone Name" title="Clone Name" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline col-md-offset-3 col-md-3" style="margin-top:10px;">
                <!--<button id="buttonCloneContainer" class="btn btn-primary">Clone Container <span class="glyphicon glyphicon-refresh spinning loader"></span></button>-->
            </div>
        </div>
    </form>
</div>

<div id="moveContainerForm" hidden>

    <form id="moveForm" class="form-horizontal">
        <div class="form-group">
            <label for="newContainerMove" class="col-sm-3 control-label">Move Container Name</label>
            <div class="col-sm-8">
                <input id="newContainerMove" name="newContainer" class="form-control" type="text" placeholder="Move Container Name" title="Move Container Name" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline col-md-offset-3 col-md-3" style="margin-top:10px;">

            </div>
        </div>
    </form>
</div>

<div id="exportContainerForm" hidden>

    <form id="exportForm" class="form-horizontal">
        <div class="form-group">
            <label for="imageAlias" class="col-sm-3 control-label">Image Alias</label>
            <div class="col-sm-8">
                <input id="imageAlias" name="imageAlias" class="form-control" type="text" placeholder="Image Alias" title="Image Alias" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline col-md-offset-3 col-md-3" style="margin-top:10px;">

            </div>
        </div>
    </form>
</div>

<div id="snapshotContainerForm" hidden>

    <form id="snapshotForm" class="form-horizontal">
        <div class="form-group">
            <label for="snapshotName" class="col-sm-3 control-label">Snapshot Name</label>
            <div class="col-sm-8">
                <input id="snapshotName" name="snapshotName" class="form-control" type="text" placeholder="Snapshot Name" title="Snapshot Name" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline col-md-offset-3 col-md-3" style="margin-top:10px;">

            </div>
        </div>
    </form>
</div>
        </div>
        <div class="modal-footer">
             <button id="buttonExportContainer" class="btn btn-primary">Export Container <span class="glyphicon glyphicon-refresh spinning loader"></span></button>
             <button id="buttonSnapshotContainer" class="btn btn-primary">Snapshot <span class="glyphicon glyphicon-refresh spinning loader"></span></button>
             <button id="buttonMoveContainer" class="btn btn-primary">Move Container <span class="glyphicon glyphicon-refresh spinning loader"></span></button>
            <button id="buttonCloneContainer" class="btn btn-primary">Clone Container <span class="glyphicon glyphicon-refresh spinning loader"></span></button>
            <!--<button type="button" class="btn btn-primary">Save</button>-->
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}

<!-- Default form contact -->