{% extends "index.html" %}
{% block content %}
    <div class="col-lg-12 main-div" id="set-div">
        <div class="col-lg-12">
            <div class="form-inline">
                <label>OS Images: </label>
                <div class="btn-group btn-group-s" id="imageType">
                <button id="btnLocalImages" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-hdd"> </span>
                        Local <span class="badge"></span>
                </button>
                <button type="button" id="btnRemoteImages" class="btn btn-primary">
                    <span class="glyphicon glyphicon-globe"> </span>
                        Remote <span class="badge"></span>
                </button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
             <div class="col-lg-12">
                <div class="form-group">
                    <!--<button id="buttonLaunch" class="btn btn-success" style="visibility: hidden;">Launch Container(s)</button>-->
                    <button id="buttonDelete" class="btn btn-danger" style="visibility: hidden;">Delete OS Image</button>
                    <button id="buttonDownload" class="btn btn-success" style="visibility: hidden;">Download Image</button>
                    <button id="buttonUpdate" class="btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-refresh"> </span>
                        Update
                    </button>
                </div>
             </div>
         <div class="col-lg-12" id="loader" style="display:none;">
             <div class="col-lg-offset-4 col-lg-4">
                 <img src="static/images/loader.gif" class="text-center" width="150px">
                 </div>
            </div>
        <div class="col-lg-12" id="tableImagesLocalWrapper">
            <div class="">
                <table id="tableImagesLocal" class="table table-bordered table-fixed">
                    <thead>
                        <th>Select</th>
                        <th>OS</th>
                        <th>Description</th>
                        <th>Alias/Fingerprint</th>
                        <th>Ver</th>
                        <th>Arch</th>
                        <th>Size</th>
                    </thead>
                    <tbody>
                    {% for image in localImages %}
                    <tr id="{{image.fingerprint}}">
                        <td></td>
                        <td>
                            <a style="cursor:pointer" onClick="$.proxy(App.containers.createContainer, App.containers, image);">{{image.properties.os}}</a>
                        </td>
                        <td>{{ image.properties.description }}</td>
                        <td>{{ image.aliases}}</td>
                        <td>{{ image.properties.release }}</td>
                        <td>{{ image.properties.architecture }}</td>
                        <td>{{ image.size }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-lg-12" id="tableImagesRemoteWrapper" style="display:none;">
            <div class="">
                <table id="tableImagesRemote" class="table table-bordered table-fixed">
                    <thead>
                    <th>Select</th>
                    <th>Architecture</th>
                    <th>Distribution</th>
                    <th>Image</th>
                    <th>Name</th>
                    </thead>
                    <tbody>
                    {% for image in remoteImages %}
                    <tr id="{{image.image}}">
                        <td></td>
                        <td>{{ image.architecture }}</td>
                        <td>{{ image.distribution }}</td>
                        <td>{{ image.image }}</td>
                        <td>{{ image.name}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
