
.icon-power:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-cancel-circled2:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-ok-circled2:before { content: '\e807'; } /* '' */
.icon-ok-circled:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-info-circled:before { content: '\e80a'; } /* '' */
.icon-help-circled:before { content: '\e80b'; } /* '' */
.icon-minus-circled:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-edit:before { content: '\e80e'; } /* '' */
.icon-retweet:before { content: '\e80f'; } /* '' */
.icon-flag:before { content: '\e810'; } /* '' */
.icon-tags:before { content: '\e811'; } /* '' */
.icon-bookmark:before { content: '\e812'; } /* '' */
.icon-export:before { content: '\e813'; } /* '' */
.icon-download:before { content: '\e814'; } /* '' */
.icon-upload:before { content: '\e815'; } /* '' */
.icon-forward:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e817'; } /* '' */
.icon-eye-off:before { content: '\e818'; } /* '' */
.icon-pin:before { content: '\e819'; } /* '' */
.icon-lock-open:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-tag:before { content: '\e81c'; } /* '' */
.icon-minus:before { content: '\e81d'; } /* '' */
.icon-clock:before { content: '\e81e'; } /* '' */
.icon-block:before { content: '\e81f'; } /* '' */
.icon-logout:before { content: '\e820'; } /* '' */
.icon-doc:before { content: '\e821'; } /* '' */
.icon-attention-circled:before { content: '\e822'; } /* '' */
.icon-attention:before { content: '\e823'; } /* '' */
.icon-bell:before { content: '\e824'; } /* '' */
.icon-wrench:before { content: '\e825'; } /* '' */
.icon-cog-alt:before { content: '\e826'; } /* '' */
.icon-cog:before { content: '\e827'; } /* '' */
.icon-cw:before { content: '\e828'; } /* '' */
.icon-ccw:before { content: '\e829'; } /* '' */
.icon-arrows-cw:before { content: '\e82a'; } /* '' */
.icon-shuffle:before { content: '\e82b'; } /* '' */
.icon-check:before { content: '\e82c'; } /* '' */
.icon-key:before { content: '\e82d'; } /* '' */
.icon-user:before { content: '\e82e'; } /* '' */
.icon-users:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-user-add:before { content: '\e831'; } /* '' */
.icon-camera-1:before { content: '\e832'; } /* '' */
.icon-search:before { content: '\e833'; } /* '' */
.icon-star:before { content: '\e834'; } /* '' */
.icon-star-empty:before { content: '\e835'; } /* '' */
.icon-layout:before { content: '\e836'; } /* '' */
.icon-menu-1:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-check-1:before { content: '\e839'; } /* '' */
.icon-cancel-1:before { content: '\e83a'; } /* '' */
.icon-eye-1:before { content: '\e83b'; } /* '' */
.icon-tag-1:before { content: '\e83c'; } /* '' */
.icon-comment:before { content: '\e83d'; } /* '' */
.icon-lock-open-1:before { content: '\e83e'; } /* '' */
.icon-lock-1:before { content: '\e83f'; } /* '' */
.icon-home:before { content: '\e840'; } /* '' */
.icon-info-circled-1:before { content: '\e841'; } /* '' */
.icon-info-1:before { content: '\e842'; } /* '' */
.icon-back:before { content: '\e843'; } /* '' */
.icon-help-circled-1:before { content: '\e844'; } /* '' */
.icon-help-1:before { content: '\e845'; } /* '' */
.icon-database-1:before { content: '\e846'; } /* '' */
.icon-marquee:before { content: '\e847'; } /* '' */
.icon-drive:before { content: '\e848'; } /* '' */
.icon-dot-3:before { content: '\e849'; } /* '' */
.icon-dot-2:before { content: '\e84a'; } /* '' */
.icon-dot:before { content: '\e84b'; } /* '' */
.icon-erase:before { content: '\e84c'; } /* '' */
.icon-monitor:before { content: '\e84d'; } /* '' */
.icon-list-add:before { content: '\e84e'; } /* '' */
.icon-list:before { content: '\e84f'; } /* '' */
.icon-docs-1:before { content: '\e850'; } /* '' */
.icon-retweet-1:before { content: '\e851'; } /* '' */
.icon-export-1:before { content: '\e852'; } /* '' */
.icon-code-1:before { content: '\e853'; } /* '' */
.icon-quote:before { content: '\e854'; } /* '' */
.icon-forward-1:before { content: '\e855'; } /* '' */
.icon-reply-all-1:before { content: '\e856'; } /* '' */
.icon-reply-1:before { content: '\e857'; } /* '' */
.icon-pencil-1:before { content: '\e858'; } /* '' */
.icon-upload-cloud-1:before { content: '\e859'; } /* '' */
.icon-minus-squared-1:before { content: '\e85a'; } /* '' */
.icon-minus-circled-1:before { content: '\e85b'; } /* '' */
.icon-minus-1:before { content: '\e85c'; } /* '' */
.icon-plus-squared-1:before { content: '\e85d'; } /* '' */
.icon-plus-circled-1:before { content: '\e85e'; } /* '' */
.icon-plus-1:before { content: '\e85f'; } /* '' */
.icon-cancel-squared:before { content: '\e860'; } /* '' */
.icon-cancel-circled-1:before { content: '\e861'; } /* '' */
.icon-bookmark-1:before { content: '\e862'; } /* '' */
.icon-bookmarks:before { content: '\e863'; } /* '' */
.icon-flag-1:before { content: '\e864'; } /* '' */
.icon-attention-1:before { content: '\e865'; } /* '' */
.icon-alert:before { content: '\e866'; } /* '' */
.icon-vcard:before { content: '\e867'; } /* '' */
.icon-direction-1:before { content: '\e868'; } /* '' */
.icon-cup:before { content: '\e869'; } /* '' */
.icon-trash:before { content: '\e86a'; } /* '' */
.icon-doc-1:before { content: '\e86b'; } /* '' */
.icon-doc-landscape:before { content: '\e86c'; } /* '' */
.icon-doc-text-1:before { content: '\e86d'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e86e'; } /* '' */
.icon-newspaper:before { content: '\e86f'; } /* '' */
.icon-book-open:before { content: '\e870'; } /* '' */
.icon-book:before { content: '\e871'; } /* '' */
.icon-hourglass-4:before { content: '\e872'; } /* '' */
.icon-clock-1:before { content: '\e873'; } /* '' */
.icon-logout-1:before { content: '\e874'; } /* '' */
.icon-login:before { content: '\e875'; } /* '' */
.icon-share-1:before { content: '\e876'; } /* '' */
.icon-tools:before { content: '\e877'; } /* '' */
.icon-cog-1:before { content: '\e878'; } /* '' */
.icon-folder:before { content: '\e879'; } /* '' */
.icon-archive:before { content: '\e87a'; } /* '' */
.icon-box:before { content: '\e87b'; } /* '' */
.icon-lamp:before { content: '\e87c'; } /* '' */
.icon-play:before { content: '\e87d'; } /* '' */
.icon-stop:before { content: '\e87e'; } /* '' */
.icon-pause:before { content: '\e87f'; } /* '' */
.icon-shuffle-1:before { content: '\e880'; } /* '' */
.icon-loop:before { content: '\e881'; } /* '' */
.icon-switch:before { content: '\e882'; } /* '' */
.icon-level-up-1:before { content: '\e883'; } /* '' */
.icon-level-down-1:before { content: '\e884'; } /* '' */
.icon-arrows-ccw:before { content: '\e885'; } /* '' */
.icon-cw-1:before { content: '\e886'; } /* '' */
.icon-ccw-1:before { content: '\e887'; } /* '' */
.icon-paper-plane-1:before { content: '\e888'; } /* '' */
.icon-off:before { content: '\e889'; } /* '' */
.icon-gauge:before { content: '\e88a'; } /* '' */
.icon-database-2:before { content: '\e88b'; } /* '' */
.icon-params:before { content: '\e88c'; } /* '' */
.icon-cog-2:before { content: '\e88d'; } /* '' */
.icon-key-1:before { content: '\e88e'; } /* '' */
.icon-paper-plane-2:before { content: '\e88f'; } /* '' */
.icon-eye-2:before { content: '\e890'; } /* '' */
.icon-eye-off-1:before { content: '\e891'; } /* '' */
.icon-user-1:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users-1:before { content: '\f064'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-genderless:before { content: '\f22d'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-i-cursor:before { content: '\f246'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-sticky-note:before { content: '\f249'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-pause-circle:before { content: '\f28b'; } /* '' */
.icon-pause-circle-o:before { content: '\f28c'; } /* '' */
.icon-stop-circle:before { content: '\f28d'; } /* '' */
.icon-stop-circle-o:before { content: '\f28e'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */