.main-div{
    padding-top: 15px;
}

#set-div {
    padding-top: 20px;
}

.scrollable{
    overflow: auto;
    height: 700px;
}
.badge{
    margin-left: 8px;
}
#loader, #loader-update-img, #btn-update-remote{
    display: none;
}
#stamplike
{
    padding:5px;
    border:1px dashed;
    cursor:default;
}

.btn-default[disabled]:hover {
    color: #333;
}



#footer_paragraph
{
     position: fixed;
     bottom:0px;
     left:25px;
     width:20%;
     background: white;
     font-size: 14px;
}
.already-exists{
    color: red;
}
.hidenele{
    display: none;
}
.btn-start_container:hover
{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-stop_container:hover
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-restart_container:hover
{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-delete_container:hover
{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.nav-pills>li>a>span
{
    padding-right:10px;
}
.nav-pills>li.active>a
{
    background:#444;
    color:white;
}
.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: #FA5D26;
    text-decoration: none;
}
.nav-pills>li>a
{
    color:black;
}
.btn-login
{
    background: #FA5D26;
    color: white;
}
.nav-pills>li>a:focus,.nav-pills>li>a:hover
{
    background:#FA5D26;
    color:white;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

.glyphicon-refresh.spinning {
  transform-origin: 48% 50%;
}

.loader {
    font-size: 18px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.table tr td ul li, .table tr td li {
    list-style: none;
}

.progress {
    height: 4px;
    margin-bottom: 0px;
    position: absolute;
    width: 96%;
    bottom: 62px;
}


.btn-loginlxdui
{
    background:#FA5D26;
    border: 1px solid #a53c1c;
    color:white;
}
.btn-loginlxdui:hover
{
    background:#fc8c67;
    color:black;
}

.nav-pills>li>span
{
    color:#a53c1c;
}
.nav-pills>li.active>span
{
    color:white;
}
.netint_data
{
    border-left:1px solid lightgray;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    margin-left:18px;
    margin-bottom:15px;
    padding:10px;
    padding-left:15px;
}

.legend {
    padding-bottom:15px;
}

.bootstrap-select {
    width: 196px !important;
}

.mg-bottom15 {
    margin-bottom: 15px;
}

.no-right-padding {
 padding-right:0;
}
.mg-right {
    margin-right:10px;
}

.tag-button {
    height:18px;
    margin:-1px 0 0 0;
    padding:0;
    border-radius:0px 2px 2px 0px;
    float:none;
    line-height:1.1;
}

.profiles .label .btn {
    color: #fff;
    padding: 0px 2px;
}

.profiles select {
   padding: 6px 12px;
   cursor: pointer;

}

#containerNameInput:focus{
    border: 1px solid;
    padding: 5px;
}

.label-success, .label-danger {
    padding: 2px 3px;
    font-size: 10px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body:nth-child(1) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.panel > div:nth-child(1) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body:nth-child(2){
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel > div:nth-child(2)  {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body:nth-child(3){
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel > div:nth-child(3) {
     border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body:nth-child(4) {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel > div:nth-child(4) {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.panel {
    border: none;
}

.border-space {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
}

.images-modal {
    width: 750px;
}

.acc {
color: #000 !important;
}


.inline {
    display: inline;
}

.bg-bottom {
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}

.space {
    margin: 30px 0px;
}

.space .label {
    color: black;
}

.big-font {
     font-size:75%;
}

.width300 {
    width:300px !important;
}

.mgtop-10 {
     margin-top:10px;
}

.cont-details {
     position:relative;
     top:-3px;
}

.none {
    display:none;
}
